<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<div class="background"></div>
	<title>Welcome to TroopTracker</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<style th:inline="text">
		body {
			background: url([[@{/images/225.png}]]) no-repeat center center fixed;
		}
	</style>
</head>


<body>

		<center><img th:src="@{/images/logo.png}" width=" 700" height="300" alt="TroopTracker"></center>

			<center><a th:href="@{/users}" class="button primary">Login</a>&nbsp;&nbsp;<a th:href="@{/register}" class="button primary">Register</a></center>






</body>

</html>