<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns="http://www.w3.org/1999/html"
  xml:lang="eng"
>
  <head>
    <meta charset="UTF-8" />
    <title>Troop Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <style th:inline="text">
      body {
        background: url([[@{/images/background1.png}]]) no-repeat;
      }
    </style>
  </head>

  <body>
    <div>
      <ul>
        <li style="float: right">
          <a class="active" th:href="logout">Logout</a>
        </li>
        <li style="float: right">
          <a class="active" th:href="register">New User Registration</a>
        </li>
        <li style="float: right">
          <a class="active" th:href="users">Registered Users</a>
        </li>
      </ul>

      <div class="centerindex">
        <img
          th:src="@{/images/logo.png}"
          width=" 900"
          height="100"
          alt="TroopTracker"
        />
        <div sec:authorize="isAuthenticated()">
          <h2>
            Welcome
            <span> [[${#request.userPrincipal.principal.fullName}]] </span>
            &nbsp; [[${#request.userPrincipal.principal.authorities}]]
          </h2>
        </div>

        <h2>View List of Soldiers</h2>
        <a th:href="@{/numasc}" class="button primary">Ascending</a>
        <a th:href="@{/numdesc}" class="button primary">Descending</a>
        <p></p>
        <p></p>

        <div sec:authorize="hasAnyAuthority('ADMIN')">
          <h2>Export To PDF</h2>
          <a th:href="@{/pdfasc}" class="button primary">Ascending</a>
          <a th:href="@{/pdfdesc}" class="button primary">Descending</a>
        </div>
      </div>
    </div>
  </body>
</html>
