<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Registration Success</title>
	<style th:inline="text">
		body {
			background: url([[@{/images/olive-green.jpg}]]) no-repeat center center fixed;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="centerindex">
		<img th:src="@{/images/Logo.png}" width=" 700" height="300" alt="TroopTracker">
		<h2>Soldier added successfully!</h2>
		<a th:href="@{/}" class="button primary">Menu</a>
		<a th:href="@{/login}" class="button primary">Sign Out</a>
	</div>

</body>

</html>