<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
	<meta charset="ISO-8859-1">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css"  />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div>
<ul>
	<li style="float:right"><a class="active" th:href="logout">Logout</a> </li>
	<li style="float:right"><a class="active" th:href="register">New User Registration</a> </li>
	<li style="float:right"><a class="active" th:href="menu">Home</a> </li>
</ul>
	<div class="container text-center">
		<div><center>

				<p>
					Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
				</p>
		</center></div>

		</div>
		<div><center>
			<img th:src="@{/images/logo.png}" width=" 700" height="300" alt="TroopTracker">
			<h1>Registered Users</h1>


			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>User ID</th>
						<th>E-mail</th>
						<th>Rank</th>
						<th>Last Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td th:text="${user.id}">User ID</td>
						<td th:text="${user.email}">E-mail</td>
						<td th:text="${user.grade}">Rank</td>
						<td th:text="${user.lastName}">Last Name</td>
					</tr>
				</tbody>
			</table>
		</center></div>
	</div>
</body>

</html>