<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="eng">

<head>
	<meta charset="ISO-8859-1">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.min.js"
    ></script>
</head>



<ul>
	<li style="float:right"><a class="active" th:href="logout">Logout</a> </li>
	<li style="float:right"><a class="active" th:href="register">New User Registration</a> </li>
	<li style="float:right"><a class="active" th:href="menu">Home</a> </li>
</ul>
<body>
	<div class="center">
		
		<img th:src="@{/images/logo.png}" width=" 900" height="100" alt="TroopTracker">
				<p>
			<h2>Welcome <span> [[${#request.userPrincipal.principal.fullName}]] </span> &nbsp; [[${#request.userPrincipal.principal.authorities}]]</h2>
				</p>
		
			<h2>Registered Users</h2>
			<div class="container text-center">
			<table class="table table-striped table-bordered">
				<caption></caption>
				<thead class="thead-dark">
					<tr>
						<th>User ID</th>
						<th>E-mail</th>
						<th>Rank</th>
						<th>Last Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td th:text="${user.id}">User ID</td>
						<td th:text="${user.email}">E-mail</td>
						<td th:text="${user.grade}">Rank</td>
						<td th:text="${user.lastName}">Last Name</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>

</body>

</html>