html,
body {
  margin: auto;
  padding: 0;
}
.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}
/* Fonts----------------
-----------------------*/
h1 {
  font-size: 34px;
  margin-bottom: 32px;
  color: #3e3e3e;
}

h2 {
  font-size: 28px;
  margin-bottom: 32px;
  color: #3e3e3e;
}

/* Label---------
-----------------------*/
.register {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  color: #3e3e3e;
  font-weight: bold;
  text-align: left;
}

/* Background
----------------*/
.background {
  position: absolute;

  display: block;

  top: 0;

  left: 0;

  z-index: 0;
}

.centerindex {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  background-color: #000000;
  border-radius: 0.5em;
  border: solid 3px #a3a1a1;
  color: #ffffff !important;
  cursor: pointer;
  display: flexbox;
  font-weight: 1000;
  height: 2.5em;
  height: calc(2em + 3px);
  line-height: 1.5em;
  min-width: 5em;
  padding: 0.1em;
  text-align: center;
  font-family: Roboto Bold;
  font-size: 24px;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  border-color: #49bf9d;
  color: #49bf9d !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
  background-color: rgba(73, 191, 157, 0.1);
  border-color: #49bf9d;
  color: #49bf9d !important;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
  min-width: 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
  font-size: 1em;
  background-color: #49bf9d;
  border-color: #49bf9d;
  color: #ffffff !important;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
.button.large {
  font-size: 1.35em;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
.button.primary {
  background-color: #49bf9d;
  border-color: #49bf9d;
  color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
.button.primary:hover {
  background-color: #5cc6a7;
  border-color: #5cc6a7;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
.button.primary:active {
  background-color: #3eb08f;
  border-color: #3eb08f;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #b2b2b2 !important;
  cursor: default;
}

/* Style the active class (and buttons on mouse-over) */
.active {
  color: #ffffff;
}

.option:hover {
  color: #00f1c9;
}

html {
  scroll-behavior: smooth;
}

@keyframes fuzz

/* Safari and Chrome */ {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    /*-webkit-transform: scaleY(1);*/
    opacity: 1;
  }
}

@keyframes fuzz2

/* Safari and Chrome */ {
  0% {
    opacity: 0;
  }

  48% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fuzz3

/* Safari and Chrome */ {
  0% {
    opacity: 0;
  }

  54% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stretch

/* Safari and Chrome */ {
  0% {
    -webkit-transform: scaleX(0);
    opacity: 0;
  }

  50% {
    -webkit-transform: scaleX(0);
    opacity: 1;
  }

  60% {
    -webkit-transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;

  font-family: "Segoe", "Segoe UI", "DejaVu Sans", "Trebuchet MS", "Verdana",
    "sans-serif";
}

li a:hover:not(.active) {
  background-color: #333;
}

.active {
  background-color: #3eb08f;
}
input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
}

input[type="password"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
}
